// Font palette

primary-text-icon-color = rgba(33, 33, 33, 1)
secondary-text-icon-color = rgba(114, 114, 114, 1)

// color palette
dark-primary-color = rgba(97, 97, 97, 1) //DarkGrey
primary-color = rgba(158, 158, 158, 1) //Grey
light-primary-color = rgba(245, 245, 245, 1) //LightGrey
divider-color = rgba(182, 182, 182, 1)
